#why-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $light-grayish-blue;
  padding-bottom: 50px;

  .why-features-why {
    padding: 50px 20px 20px 20px;
  }
  .why-features-features {
    .why-features-fetures_feature {
      img {
        margin-top: 30px;
      }
      .why-features-features_feature-text {
        h3 {}
        p {}
      }
    }
  }
}

@media screen and (min-width: 765px) {
  #why-features {
    padding: 0 80px;
    .why-features-why {
      text-align: left;
      p {
        padding: 0 230px 0 0;
      }
    }
    .why-features-features {
      display: flex;
      flex-direction: row;
      .why-features-fetures_feature {
        margin: 0 10px;
        text-align: left;
        p {
          padding: 0;
        }
      }
    }
  }
}