footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: $dark-blue;
  color: white;
  .footer-logo {
    img {
      width: 150px;
      height: 35px;
      margin: 30px auto;
    }
  }
  .footer-social {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto 20px;
    a{
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    .footer-nav-3 {
      display: flex;
      flex-direction: column;
      a {
        margin: 10px auto;
      }
    }
  }
  .footer-cta {
    button {
      margin: 20px auto;
      @include btn;
    }
    p {
      margin: 20px auto 50px;
    }
  }
}

@media screen and (min-width: 765px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    justify-content: space-between;
    .footer-logo-social {
      flex: 1;
    }
    .footer-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex: 2;
      width: 50%;
      .footer-nav-3 {
        margin: 20px 20px 20px 0;
        text-align: left;
        justify-content: flex-start;
        padding-left: 0;
        a {
          margin-left: 0;
        }
      }
    }
    .footer-cta {
      button {
        margin-top: 20px;
      }
    }
  }
}