* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}
  
body {  
  position: relative;
  font-family: 'Public Sans', sans-serif;
  font-size: $body-font-size;
  color: $dark-blue;
  overflow-x: hidden;
}
.hide-side-bar {
  overflow: hidden;
}
  
a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

h1 {
  font-weight: 400;
  font-size: 2.2em;
}

h2 {
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 20px;
}

h3 {
  font-weight: 400;
  margin: 20px auto;
}

h4 {
  font-weight: 700;
  font-size: .85em;
  margin: 10px auto;
}

h5 {
  margin: 20px auto 10px;
  font-weight: 300;
  font-size: .6em;
}

p {
  font-size: .9em;
  line-height: 1.5em;
  font-weight: 300;
  padding: 0 10px;
}

@mixin image {
  width: 100%;
  height: 200px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

@mixin links {
  margin-right: 2.1667rem;
  //color: $grayish-violet;

  &:hover {
    color: black;
    font-weight: bold;
  }
}

@mixin btn {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  background-image: linear-gradient(to left, $bright-cyan, $lime-green);
  border: none;
  outline: none;
  padding: 0.7778rem 1.3889rem;
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}