header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;
  background: white;
  .header-logo {
    flex: 1;
  }
  .header-navigation {
    .header-navigation-desktop {
      display: none;
    }
  }
  .header-nav-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 90%;
    background: $white;
    height: 280px;
    top: 60px;
    left: 5%;
    border-radius: .5em;
    box-shadow: 0 140px 10000px $dark-blue;
    padding: 20px 0;
    display: none;
  }
}