header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-evenly;
  z-index: 10;
  position: fixed;
  width: 100%;
  background: white;
  .header-logo {
    flex: 1;
  }
  .header-navigation {
    .header-navigation-desktop {
      display: none;
    }
  }
  //.header-navigation-mobile {
    //display: none;
  //}

}