header {
  position: fixed;
  background: $white;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  z-index: 5;
  .header-logo {
    flex: 1;
  }
  .header-navigation {
    .header-navigation-desktop {
      display: none;
    }
    .header-navigation-mobile {
    }
  }

}