#hero {
  display: flex;
  flex-direction: column;
  background: $very-light-gray;
  .hero-call-to-action {
    margin-top: 44px;
    .hero-call-to-action_img {
      display: flex;
      justify-content: center;
      height: 300px;
      background-image: url(../images/bg-intro-mobile.svg);
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;
      img {
        position: relative;
        height: 140%;
        top: -120px;
        z-index: 2;
      }
    }
    .hero-call-to-action_infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      p {
        margin: 20px auto;
      }
      button {
        @include btn;
        margin-bottom: 50px;
      }
    }
  }

}