#hero {
  display: flex;
  flex-direction: column;
  background: $very-light-gray;
  .hero-call-to-action {
    margin-top: 44px;
    .hero-call-to-action_img {
      display: flex;
      justify-content: center;
      height: 300px;
      background-image: url(../images/bg-intro-mobile.svg);
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;
      img {
        position: relative;
        height: 140%;
        top: -120px;
        z-index: 2;
      }
    }
    .hero-call-to-action_infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      p {
        margin: 20px auto;
      }
      button {
        @include btn;
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (min-width: 765px) {
  #hero {
    .hero-call-to-action {
      .hero-call-to-action_img {
        background-image: url(../images/bg-intro-desktop.svg);
        background-position: 400px bottom;
        background-size: 485px;
        img {
          top: -50px;
          right: -270px;
        }
      }
      .hero-call-to-action_infos {
        padding-top: 50px;
      }
    }
  }
}

@media screen and (min-width: 1020px) {
  #hero {
    width: 100vw;
    .hero-call-to-action {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      .hero-call-to-action_img {
        width: 50vw;
        background-position: 100px -100px;
        background-size: 600px;
        img {
          width: 400px;
          height: 500px;
          top: -80px;
          right: -120px;
        }
      }
      .hero-call-to-action_infos {
        width: 40vw;
        text-align: left;
        align-items: flex-start;
        p {
          padding-left: 0;
        }
      }
    }
  }
}