@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  color: #2d314d;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-weight: 400;
  font-size: 2.2em;
}

h2 {
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 20px;
}

h3 {
  font-weight: 400;
  margin: 20px auto;
}

h4 {
  font-weight: 700;
  font-size: .85em;
  margin: 10px auto;
}

h5 {
  margin: 20px auto 10px;
  font-weight: 300;
  font-size: .6em;
}

p {
  font-size: .9em;
  line-height: 1.5em;
  font-weight: 300;
  padding: 0 10px;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

header .header-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .header-navigation .header-navigation-desktop {
  display: none;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
}

#hero .hero-call-to-action {
  margin-top: 44px;
}

#hero .hero-call-to-action .hero-call-to-action_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  background-image: url(../images/bg-intro-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

#hero .hero-call-to-action .hero-call-to-action_img img {
  position: relative;
  height: 140%;
  top: -120px;
  z-index: 2;
}

#hero .hero-call-to-action .hero-call-to-action_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#hero .hero-call-to-action .hero-call-to-action_infos p {
  margin: 20px auto;
}

#hero .hero-call-to-action .hero-call-to-action_infos button {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to left, #2bb7da, #31d35c);
  border: none;
  outline: none;
  padding: 0.7778rem 1.3889rem;
  cursor: pointer;
  margin-bottom: 50px;
}

#hero .hero-call-to-action .hero-call-to-action_infos button:hover {
  opacity: 0.4;
}

#why-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #f3f4f6;
  padding-bottom: 50px;
}

#why-features .why-features-why {
  padding: 50px 20px 20px 20px;
}

#why-features .why-features-features .why-features-fetures_feature img {
  margin-top: 30px;
}

#articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 70px 0;
  background: #fafafa;
}

#articles .articles_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background: white;
  margin: 10px auto;
  border-radius: .5em;
}

#articles .articles_article .image_currency {
  background-image: url(../images/image-currency.jpg);
  width: 100%;
  height: 200px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

#articles .articles_article .image_restaurant {
  background-image: url(../images/image-restaurant.jpg);
  width: 100%;
  height: 200px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

#articles .articles_article .image_plane {
  background-image: url(../images/image-plane.jpg);
  width: 100%;
  height: 200px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

#articles .articles_article .image_confetti {
  background-image: url(../images/image-confetti.jpg);
  width: 100%;
  height: 200px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

#articles .articles_article .articles-article-text {
  width: 90%;
  text-align: left;
  color: #2d314d;
  padding-bottom: 30px;
}

#articles .articles_article .articles-article-text p {
  padding: 0;
  line-height: 1.2em;
  font-size: .8em;
  color: #9698a6;
}
/*# sourceMappingURL=main.css.map */